<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>WFPHP在线订单系统V9.0官方正式版 - 样式05</title>
    <script type="text/javascript" src="js/wfdq.js" charset="gb2312"></script>
    <link href="style/public.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        <!--
        #wforder{width:500px}
        #wforder form,.wforderl,.wftitle{border-color:#52CC52;}
        -->
    </style>
</head>
<body>
<div id="wforder">
    <form id="wfform" name="wfform" action="../wforder.php" method="post" onsubmit="return postcheck()" target="_parent">
        <input type="hidden" id="wfddll" name="wfddll" value="wfddll" />
        <input type="hidden" name="wfmun" value="1" />
        <input type="hidden" name="wfprice" value="580" />
        <div class="wftitle"><img src="images/tita.gif" /></div>
        <div class="bdbox">
            <ul>
                <li class="product">
                    <span class="bdl"><em>*</em>套餐选择</span>
                    <span class="bdr red">
                        <input type="radio" name="wfproduct" id="a1" value="产品：AAAAAAAAAA 3盒 385元|385" onclick="pricea()" class="dxk" /><label for="a1">产品：AAAAAAAAAA 3盒 385元</label><br />
                        <input type="radio" checked="checked" name="wfproduct" id="a2" value="产品：BBBBBBBBBB 6盒 580元|580" onclick="pricea()" class="dxk" /><label for="a2">产品：BBBBBBBBBB 6盒 580元 <img src="images/hot.gif" /></label><br />
                        <input type="radio" name="wfproduct" id="a3" value="产品：CCCCCCCCCC 9盒 785元|785" onclick="pricea()" class="dxk" /><label for="a3">产品：CCCCCCCCCC 9盒 785元</label><br />
                        <input type="radio" name="wfproduct" id="a4" value="产品：DDDDDDDDDD 12盒 960元|960" onclick="pricea()" class="dxk" /><label for="a4">产品：DDDDDDDDDD 12盒 960元</label>
                    </span>
                </li>
                <li><span class="bdl"><em>*</em>收货人姓名</span><span class="bdr"><input type="text" name="wfname" class="txt kda" /></span></li>
                <li><span class="bdl"><em>*</em>手机号码</span><span class="bdr"><input type="text" name="wfmob" class="txt kda" /></span></li>
                <li><span class="bdl"><em>*</em>所在地区</span><span class="bdr"><select name="wfprovince" class="selectb"></select><select name="wfcity" class="selectb"></select><select name="wfarea" class="selectb"></select></span></li>
                <li><span class="bdl"><em>*</em>详细地址</span><span class="bdr"><input type="text" name="wfaddress" class="txt kda" /></span></li>
                <li>
                    <span class="bdl"><em>*</em>付款方式</span>
                    <span class="bdr">
                        <div class="payaa">
                            <input type="radio" checked="checked" name="wfpay" id="b1" value="货到付款" onclick="opay();return changeItem(0);" class="dxk" /><label for="b1">货到付款</label>
                            <input type="radio" name="wfpay" id="b2" value="支付宝支付" onclick="opay2();return changeItem(1);" class="dxk" /><label for="b2">支付宝在线付款</label>
                            <input type="radio" name="wfpay" id="b3" value="银行汇款" onclick="opay();return changeItem(2);" class="dxk" /><label for="b3">银行汇款</label>
                        </div>
                        <div id="paydiv0" class="paybb kda">
                            <p>温馨提示：货物送到开箱验货，确认商品无误后再付款！</p>
                            <p>有任何疑问请拨打我们免费客服电话：400-800-8888</p>
                        </div>
                        <div id="paydiv1" class="paybb kda" style="display:none;">					
                            <p>温馨提示：支付宝付款可享受8折优惠哦！</p>
                            <p>全球领先的第三方支付平台，在线支付，安全可靠！</p>							
                        </div>
                        <div id="paydiv2" class="paybb kda" style="display:none;">
                            <p>银行汇款帐号请联系我们客服索取</p>
                            <p>免费客服电话：400-800-8888</p>
                        </div>
                    </span>
                </li>
                <li class="guest"><span class="bdl">留言</span><span class="bdr"><textarea name="wfguest" onfocus="if(value=='请尽量在星期天送货，送货之前手机联系，谢谢！'){value=''}" onblur="if (value ==''){value='请尽量在星期天送货，送货之前手机联系，谢谢！'}" class="guest kda">请尽量在星期天送货，送货之前手机联系，谢谢！</textarea></span></li>
                <li class="code"><span class="bdl"><em>*</em>验证码</span><span class="bdr"><input type="text" name="wfcode" class="txt txt2" /><img src="../public/wfcode.php" alt="看不清，请点击刷新" title="看不清，请点击刷新" onClick="this.src=this.src+'?'" /></span></li>
                <li class="sub"><input type="submit" name="wfsubmit" value="" class="send" /></li>
            </ul>
        </div>
    </form>
</div>
<script type="text/javascript">
function postcheck(){
    if (document.wfform.wfname.value==""){
        alert('请填写姓名！');
        document.wfform.wfname.focus();
        return false;
    }
    var reg1 = /^[\u4e00-\u9fa5]{2,4}$/;
    if (!reg1.test(document.wfform.wfname.value)){
        alert('姓名格式不正确，请填写真实姓名！');
        document.wfform.wfname.focus();
        return false;
    }
    if (document.wfform.wfmob.value==""){
        alert('请填写手机号码！');
        document.wfform.wfmob.focus();
        return false;
    }
    var reg2 = /^1[3,4,5,8]\d{9}$/;
    if (!reg2.test(document.wfform.wfmob.value)){
        alert('手机号码格式不正确，请填写正确的手机号码！');
        document.wfform.wfmob.focus();
        return false;
    }
    if (document.wfform.wfprovince.value==""){
        alert('请选择所在地区！');
        document.wfform.wfprovince.focus();
        return false;
    }
    if (document.wfform.wfaddress.value==""){
        alert('请填写详细地址！');
        document.wfform.wfaddress.focus();
        return false;
    }
    if (document.wfform.wfcode.value == "" || document.wfform.wfcode.value.length < 4){
        alert('请填写验证码！');
        document.wfform.wfcode.focus();
        return false;
    }	
}
new PCAS("wfprovince","wfcity","wfarea");
</script>
<script type="text/javascript" src="js/wfsuba.js"></script>
</body>
</html>